@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: rgb(45, 44, 44);
}

header {
    text-align: right;
}

.logo{
    padding: 40px 40px 0 0;
}

.home{
    text-align: center;
    color: #fff
}

.main-title{
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 60px;
    color: white;
    padding-bottom: 20px;
}

.main-description {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.main-description.-second {
    text-decoration: none;
}

.main-description.-third {
    margin: 30px;
}

.main-description.-second:hover{
    color: #277AE3;
}

.footer{
    padding-top: 120px;
    text-align: center;
}

.input{
    
    margin: 20px;
    text-align: center;
}
#value{
    border-radius: 10px;
    height: 25px;
    width: 240px;
}

#value::placeholder {
    text-align: center;
}

.btn{
    text-align: center;
}
.main-button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px #0000008c;
    transition: transform 200ms cubic-bezier(0.88, -0.7, 0, 2.2);
}

.main-button:hover{
    transform: scale(1.08);
    cursor:pointer;
    
}

